<h1><%= @classroom.name %></h1>
<table class="table">
    <thead>
        <tr>
            <th>Student</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% @classroom.classrooms_students.each do |classroom_student| %>
            <tr>
                <td><%= classroom_student.student.full_name %></td>
                <td><%= classroom_student.status %></td>
            </tr>
        <% end %>
    </tbody>
</table>